<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入vue文件包 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
    <table id="login" border="2" celpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">登陆界面</th>
        </tr>
        <tr>
            <td>请输入用户名：</td>
            <td>
                <input v-on:focus="handleFocus" v-on:blur="handleBlur" v-model="username" :style="usernameStyle" type="text" name="username" size=16>
            </td>
        </tr>
        <tr>
            <td>请输入密码：</td>
            <td>
                <input @focus="handleFocus" @blur="handleBlur" :style="usernameStyle" v-model="password" type="password" name="pwd" id=""  size=16>
            </td>
        </tr>
        <tr>
            <td @click="modelClick" colspan="2" align="right">
                <!-- v-text的写法比双大括号：{{errMsg}}的写法好，如果浏览器网速慢，会看到双括号的 渲染效果{{}} -->
                <span style="color: red;" v-text="errMsg"></span>
                <input v-if="!isLogining" type="submit" @click.once="btnClick" value="登录">
                <input v-if="isLogining" type="submit"  value="登录中...." disabled>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        // Vue()其实就是一个构造函数，Vue({})中的{}就是这个构造函数要穿的参数，他其实是一个json字符串地形式
        // json对象是键值对的集合
       var vue = new Vue({
            el:'#login',//这是一个字符串
            data:{     //这是一个json对象
                isLogining: false,//未登录状态就是false,登录上了就是 true
                username:'段星星',
                password:'980110',
                // 这里的参数都是vue的参数
                errMsg :'',
                // 新增一个要修改的新对象
                usernameStyle:{}
            },
            methods:{
                handleFocus: function(){
                    this.usernameStyle = {
                       margin:'16px'
                    };
                },
                handleBlur: function(){
                    // 把样式置空
                    this.usernameStyle={}
                },
                // 事件冒泡：嗲面积提交按钮的执行结果，两个单击事件都被触发了
                modelClick: function(){
                    console.log("我是外面的单机事件");
                },
                btnClick: function(){
                    console.log("我是里面的按钮单机事件");
                    this.isLogining = true
                    //模拟发起请求，两秒后返回结果
                    setTimeout(function(){
                        //可以看作是一个回调函数【函数作为另一个函数的参数】
                        //this永远指向调用者，所以这里不是vue对象在调用，而是window对象在调用
                        // 所以这里写成：window.setTimeout(function(){})也是可以的
                        alert();
                        vue.errMsg = '我是修改后的报错信息';
                        vue.isLogining = false;
                        // alert(this.errMsg);
                        // 在这个地方加不加this是一样的，因为不加的话会默认加上一个this,所以加不加this都可以成功显示，默认加this好想是vue的特性。
                        // 因为this永远指向当前的调用者

                    },2000);
                }
            }
        })
    </script>
</body>
</html>