<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入vue文件包 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
    <table id="login" border="2" celpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">登陆界面</th>
        </tr>
        <tr>
            <td>请输入用户名：</td>
            <td>
                <input v-on:focus="handleFocus" v-on:blur="handleBlur" v-model="username" :style="usernameStyle" type="text" name="username" size=16>
            </td>
        </tr>
        <tr>
            <td>请输入密码：</td>
            <td>
                <input @focus="handleFocus" @blur="handleBlur" :style="usernameStyle" v-model="password" type="password" name="pwd" id=""  size=16>
            </td>
        </tr>
        <tr>
            <td>请选择身份：</td>
            <td>
               <select v-model="role">
                <!-- <option value="1">dancer</option>
                <option value="2">vocal</option> -->
                    <option v-for="item,index in roleList"  :value="item.value">{{index+1}}.{{item.label}}</option>
               </select>
            </td>
        </tr>
        <tr>
            <td @click="modelClick" colspan="2" align="right">
                <!-- v-text的写法比双大括号：{{errMsg}}的写法好，如果浏览器网速慢，会看到双括号的 渲染效果{{}} -->
                <span style='color: red;' v-text='errMsg'></span>

                <!-- <input v-if='!isLogining' type='submit' @click.once='btnClick' value='登录' style='background: deepskyblue; color: #fff; border: none;padding: 2px 10px;border-radius: 10px; margin: 2px 6px;'> -->
                
                <cool-btn></cool-btn>
                <input v-if="isLogining" type="submit"  value="登录中...." disabled>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        // Vue()其实就是一个构造函数，Vue({})中的{}就是这个构造函数要穿的参数，他其实是一个json字符串地形式
        // json对象是键值对的集合
       var vue = new Vue({
            el:'#login',//这是一个字符串
            data:{     //这是一个json对象
                isLogining: false,//未登录状态就是false,登录上了就是 true
                username:'段星星',
                password:'980110',
                // 这里的参数都是vue的参数
                errMsg :'',
                // 新增一个要修改的新对象
                usernameStyle:{},
                role:'1',
                roleList:[
                    {value:'1',label:'我是dancer'},
                    {value:'2',label:'我是vocal'},
                    {value:'3',label:'我是rapper'}
                ]
            },
            methods:{
                handleFocus: function(){
                    this.usernameStyle = {
                       margin:'16px'
                    };
                },
                handleBlur: function(){
                    // 把样式置空
                    this.usernameStyle={}
                },
                // 事件冒泡：嗲面积提交按钮的执行结果，两个单击事件都被触发了
                modelClick: function(){
                    console.log("我是外面的单机事件");
                },
                btnClick: function(){
                    console.log("我是里面的按钮单机事件");
                    //模拟发起请求，两秒后返回结果
                    this.isLogining = true
                    var that = this;
                    setTimeout(function(){

                        alert();
                        // 为了修改vue的参数，所以通过vue.的方式来调用参数，修改参数值，但是这不是常见的方法
                        //这里就出现了 var _this = this的大法，也就是说把原本指向window的this拉回来指向vue对象
                        vue.errMsg = '我是修改后的报错信息';
                        vue.isLogining = false;
                
                    },2000);
                }
            },
            components:{
            'coolBtn':{
                template:" <input  value='按钮名称' type='button' style=\"background: deepskyblue; color: #fff; border: none;padding: 2px 10px;border-radius: 10px; margin: 2px 6px;\">"
            }
        },
        })
    </script>
</body>
</html>